{% extends "base.html" %}

{% block content %}
<section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Share Secret Link</h1>
    </div>
    <div class="row">
        <div class="col-sm-11">
            <label for="password-link">The secret has been temporarily saved ({{ ttl }} / {{ p.Views }} view(s)) and is {% if p.Deletable == true %}<a href="{{ deletableURL }}">{{ deletableText }}</a> {% else %} {{ deletableText }} {% endif %}. Send the following URL to your intended recipient.</label>
            <input type="text" class="form-control" id="password-link" value="{{ p.Link }}" readonly="readonly">
        </div>

        <div class="col-sm-1">
            <label for="copy-clipboard-btn">Copy it</label><br />
            <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn" id="copy-clipboard-btn" data-clipboard-target="#password-link" data-placement="bottom">
                <i class="fa fa-clipboard"></i>
            </button>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="//cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS("#copy-clipboard-btn");
</script>
{% endblock %}
