{% extends "base.html" %}

{% block content %}
<section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Secret</h1>
    </div>
    <form role="form" id="file_create" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="row">
            {% if passwordNeeded %}
            <div class="col">
                <div class="form-group">
                    <label for="password">A password is needed for that file</label>
                    <input type="password" id="password" name="password" minlength="5" maxlength="255" autofocus="autofocus" class="form-control" placeholder="Password of the archive that will be created. If none is provided, one will be generated" title="Password of the archive that will be created. If none is provided, one will be generated" aria-describedby="basic-addon1" autocomplete="off" />
                </div>
            </div>
            {% endif %}
            <div class="col">
                <label for="file-text">Download your file.</label>
                <input type="hidden" value="{{ f.FileKey }}" />
                <button class="form-control">Download the file</button>
            </div>
        </div>
    </form>
    <br>
    <p>
        The file is up for {{ ttl }} / {{ f.Views }} more view(s) and is {% if f.Deletable == true %}<a href="{{ deletableURL }}">{{ deletableText }}</a> {% else %} {{ deletableText }} {% endif %} by viewer.
        <br>After that it will be permanently deleted from the system, and the URL will no longer work.
    </p>

    {% if (f.Deletable) %}
        <a href="{{ deletableURL }}">Delete it</a>
    {% endif %}
</section>
{% endblock %}