{% extends "base.html" %}

{% block content %}
<section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Set Secret</h1>
    </div>
    <div>
        <p><span style="color:red;">{% if (errors) %}{{ errors }}{% endif %}</span> </p>
    </div>
    <form role="form" id="file_create" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="files">File(s) to upload (total upload max size {{ maxFileSizeText }})</label>
                    <input type="file" id="files" name="files" class="form-control-file" aria-describedby="basic-addon1" autocomplete="off" multiple />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" minlength="5" maxlength="255" autofocus="autofocus" class="form-control" placeholder="Password of the archive that will be created. If none is provided, one will be generated" title="Password of the archive that will be created. If none is provided, one will be generated" aria-describedby="basic-addon1" autocomplete="off" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="submit">Generate URL</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="ttl">Duration</label>
                    <input type="range" id="ttl" name="ttl" min="1" max="30" step="1" value="1"> <span id="ttl-value">1 hour</span>
                </div>
                <div class="form-group">
                    <label for="ttlViews">Views</label>
                    <input type="range" id="ttlViews" name="ttlViews" min="1" max="100" step="1" value="2"> <span id="ttlViews-value">2 views</span>
                </div>

                <div class="form-group">
                    <label for="deletable">Allow viewers to optionally delete password and file before expiration</label>
                    <input type="checkbox" id="deletable" name="deletable">
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}
<script type="application/javascript">
    let rangeTtl = document.getElementById('ttl'),
        rangeTtlValue = document.getElementById('ttl-value'),
        rangeView = document.getElementById("ttlViews"),
        rangeViewValue = document.getElementById("ttlViews-value"),
        myFiles = document.getElementById('files'),
        fileForm = document.getElementById("file_create"),
        isFileSizeOK = true;

    rangeTtl.oninput = () => {
        let v = parseInt(rangeTtl.value),
            after = "";
        if(v === 1) {
            after = " hour";
        } else if(v > 1 && v <= 24) {
            after = " hours";
        } else if (v > 24 && v <= 30){
            v=v-23;
            after = " days";
        }
        rangeTtlValue.innerHTML = v + after;
    };
    rangeView.oninput = () => {
        let view = parseInt(rangeView.value),
            after = "";
        if(view === 1) {
            after = " view";
        } else if(view > 1 && view <= 100) {
            after = " views";
        }
        rangeViewValue.innerHTML = view + after;
    };

    myFiles.addEventListener('change', () => {
        let maxsize = {{ maxFileSize }};
        for (let i = 0; i < myFiles.files.length; i++) {
            if(myFiles.files[i].size > maxsize * 1024 * 1024) {
                isFileSizeOK = false;
                alert("File " + myFiles.files[i].name + "is too large (" + Math.floor(myFiles.files[i].size / 1024 / 1024) + "mb), max: " + Math.floor(maxsize / 1024 / 1024) + "mb");
            }
        }
    });
    fileForm.addEventListener("submit", (e) => {
        if (isFileSizeOK === false) {
            e.preventDefault();
        }
    });


</script>
{% endblock %}
