{% extends "base.html" %}

{% block content %}
<section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Secret</h1>
    </div>
    <div id="revealarea" class="row">
        <button id="revealbutton" class="btn btn-primary" style="margin-left: auto; margin-right: auto;">Show password</button>
    </div>
    <div id="passwordarea" class="row" style="display:none;">
        <div class="col">
            <label for="password-text">Save the following secret to a secure location.</label>
            <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ p.Password }}</textarea>
        </div>
        <div class="col">
            <label for="copy-clipboard-btn">Copy it</label><br />
            <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn" id="copy-clipboard-btn" data-clipboard-target="#password-text" data-placement="bottom">
                <i class="fa fa-clipboard"></i>
            </button>
        </div>
    </div>
    <br>
    <p>
        The secret is up for {{ ttl }} / {{ p.Views }} more view(s) and is {{ deletableText }} by viewer.
        <br>After that it will be permanently deleted from the system, and the URL will no longer work.
    </p>

    {% if (p.Deletable) %}
    <a href="{{ deletableURL }}">Delete it</a>
    {% endif %}
</section>
{% endblock %}

{% block js %}
<script src="//cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS("#copy-clipboard-btn");
    revealButton = document.getElementById("revealbutton");
    revealArea = document.getElementById("revealarea");
    passwordArea = document.getElementById("passwordarea");
    revealButton.addEventListener("click", function() {
        let key = window.location.pathname,
            xmlHttp = new XMLHttpRequest();
        let uri = window.location.protocol + "//" + window.location.host + key;
        xmlHttp.open("POST", uri);
        xmlHttp.setRequestHeader('Content-Type', 'application/json');
        xmlHttp.onload = function() {
            if (xmlHttp.status === 200) {
                let password = xmlHttp.responseText,
                    passwordText = document.getElementById("password-text");

                revealArea.style.display = "none";
                passwordText.value = password;
                passwordArea.style.display = "block";
            }
            else if (xmlHttp.status !== 200) {
                if (xmlHttp.status === 404) {
                    alert("Password not found");
                } else {
                    alert('A problem occured while retrieving the password');
                }
            }
        };
        xmlHttp.send()
    });
</script>
{% endblock %}
