{% extends "base.html" %}

{% block content %}
<section>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Secret</h1>
    </div>
    <div class="row">
        <div class="col">
            <label for="password-text">Save the following secret to a secure location.</label>
            <textarea class="form-control" rows="10" cols="50" id="password-text" name="password-text" readonly="readonly">{{ p.Password }}</textarea>
        </div>
        <div class="col">
            <label for="copy-clipboard-btn">Copy it</label><br />
            <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn" id="copy-clipboard-btn" data-clipboard-target="#password-text" data-placement="bottom">
                <i class="fa fa-clipboard"></i>
            </button>
        </div>
    </div>
    <br>
    <p>
        The secret is up for {{ ttl }} / {{ p.Views }} more view(s) and is {{ deletableText }} by viewer.
        <br>After that it will be permanently deleted from the system, and the URL will no longer work.
    </p>

    {% if (p.Deletable) %}
        <a href="{{ deletableURL }}">Delete it</a>
    {% endif %}
</section>
{% endblock %}

{% block js %}
<script src="//cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS("#copy-clipboard-btn");
</script>
{% endblock %}
